#barre {
  background-color: #565656;
  color: white;
  text-decoration: none;
  height: 25px;
}

#lienhaut {
  color: white;
  text-decoration: none;
}

#bas {
  text-align: center;
  background-color: #565656;
  color: white;
  padding: 7px;
}

#formulaire {
  background-color: #565656;
  width: 425px;
  margin: auto;
  border: 3px solid;
  border-radius: 15px;
}

#liensconnex {
  margin: auto;
  border: 3px;
  width: 425px;
}

#lienconn {
  color: blue;
  text-decoration: none;
}
